@font-face {
    font-family: PxGrotesk-Bold;
    src: url("fonts/PxGrotesk-Bold.otf") format("opentype");
}
@font-face {
    font-family: PxGrotesk-Light;
    src: url("fonts/PxGrotesk-Light.otf") format("opentype");
}
@font-face {
    font-family: PxGrotesk-Regular;
    src: url("fonts/PxGrotesk-Regular.otf") format("opentype");
}
html,body{
    height: 100%;
    background-color: #dcdede;
    margin: 0px;
    position:relative;
}

.top{
    background-color: black;
    position: relative;
    z-index: 1;
    height: 20%;
}

.top_menu{
    /*background-color: red;*/
    margin-top: 20px;
}

.img_div{
    height:40px;
    /*background-color: aqua;*/
}

.brand_img{
    height:40px;
    width: 40px;
}

.logo_label{

    height:40px;

    /*background-color: green;*/
    display: table;
}

#logo_label_vertical{
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    color:white;
    font-family: PxGrotesk-Bold;
    /*background-color: red;*/
    text-align: center;
}
.menu_text{
    height:40px;
    display: table;
}
.menu_middle{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
}
 a.links{
    font-family: PxGrotesk-Light;
    font-size: 14px;
    color:white;
    padding-left: 25px;
}
.fa{
    padding-left: 8px;
    color: white;
}
.light{
    font-family: PxGrotesk-Light;
}
.bold{
    font-family: PxGrotesk-Bold;
}
.content{
    background-image: url("img/CF_Splash_Crop_1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow:hidden;
    height:80%;
}
.content_box{
    height:400px;
    background-color: red;
    margin-top: 50px;
}
.content_label{
    /*background-color: aqua;*/
    height:80px;
    width:auto;
    font-family: PxGrotesk-Bold;
    font-size: 70px;
}
.container_text{
    position: relative;
    display: inline-block;
}
.container_text1{
    display: inline-block;
}
.container_text2{
    display: inline-block;
}
.blue{
    background-color: beige;
}