font-face {
    font-family: PxGrotesk-Bold;
    src: url("fonts/PxGrotesk-Bold.otf") format("opentype");
}
@font-face {
    font-family: PxGrotesk-Light;
    src: url("fonts/PxGrotesk-Light.otf") format("opentype");
}
@font-face {
    font-family: PxGrotesk-Regular;
    src: url("fonts/PxGrotesk-Regular.otf") format("opentype");
}
html,body{
    height: 100%;
    background-color: #dcdede;
    margin: 0px;
    position:relative;
}

#top{

    background-color: black;
    position: relative;
    z-index: 1;

    transition: height 2s linear,transform 2s;
}
.top_height{
    height:13%;

}
.top_height1{
    height:20%;

}
#top_menu{
    /*background-color: red;*/
    height: 40px;
    width:100%;
    position:absolute;
    top:10px;

}
#top_menu_middle{
    width:90%;
    margin: 0 auto;
    /*background-color: aliceblue;*/
    height: 100%;
}

#content{
    height:80%;
    /*background-color: blue;*/
    position: relative;
    z-index: 2;
}
#img_div{
    float:left;
    height:40px;
    width:40px;
    /*background-color: blue;*/
    padding-right: 10px;
}
#logo_label{
    float:left;
    height:40px;
    width:350px;
    /*background-color: green;*/
    display: table;
}
#logo_label_vertical{
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    color:white;
    font-family: PxGrotesk-Bold;
    /*background-color: red;*/
}
#share{
    float:right;
    height:40px;
    width:120px;
    /*background-color: aqua;*/
    display:table;

}
#connect{
    float:right;
    height:40px;
    width:200px;
    /*background-color: green;*/
    display:table;
}
#fb{
    display:table-cell;
    vertical-align: middle;
    height:40px;
    width:40px;

}
.fa{
    padding-left: 8px;
    color: white;
}
#connect_middle{
    display:table-cell;
    vertical-align: middle;
    font-size: 15px;
    color:white;
    font-family: PxGrotesk-Light;
}
#dots{
    font-size:1em ;
}
#content{
    background-image: url("img/CF_Splash_Crop_1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;

    overflow:hidden;
    position:relative;

}
.content_height{
    height:80%;
}
.content_height2{
    height:87%;
}
#content_box{
    /*background-color: red;*/
    height:300px;
    width:60%;
    position: absolute;
    top:10%;
    left:10%;
    z-index: 1;
}
#content_label{
    /*background-color: aqua;*/
    height:120px;
    width:100%;
    font-family: PxGrotesk-Bold;
    font-size: 70px;
}
#content_label_1{
    /*background-color: orange;*/
    height:60px;
    width:100%;

}
#content_label_2{
    /*background-color: yellow;*/
    height:60px;
    width:100%;
}
#content_p{
    /*background-color: green;*/
    height:60px;
    width:80%;
    font-family: PxGrotesk-Bold;
    padding-top: 10px;
}
#content_form{
    /*background-color: blue;*/
    height:30px;
    width:80%;

}
input[type=text]{
    height: 30px;
    width:60%;
    border:0;
    padding: 0;
    background:rgba(255,255,255, 0.7);
}
button {
    border: 1px;
    /*background-color: white;*/
    float: right;
    width: 30%;
    height: 30px;
    font-family: PxGrotesk-Regular;
    font-size: 15px;
}

.slider {
    overflow-y: hidden;
    /* complete liquid height based on the parent's height!! */
    height:100%;
    /*background-color: aqua;*/

    /* only transition on transform properties which are hardware accelerated = way better performances */
    /*-webkit-transition:-webkit-transform .20000s ease;
    -moz-transition:   -moz-transform .20000s ease;
    -ms-transition:    -ms-transform .20000s ease;
    transition:        transform .20000s ease;*/

    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;

    position: relative;
    z-index: 2;
}
.slider.opened {
    /* visible */
    -webkit-transform: translate(0, 0%);
    -moz-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
}
.slider.closed {
    /* completely offscreen */
    -webkit-transform: translate(0, 93%);
    -moz-transform: translate(0, 93%);
    -ms-transform: translate(0, 93%);
    transform: translate(0, 93%);
}
.displaynone{
    display: none;
}
#slider_button{
    width:100%;
    height: 7%;
    /*background-color: red;*/

    z-index: 5;

}
#slider_button_button{
    margin: 0 auto;
    width: 200px;
    height: 100%;
    font-family: PxGrotesk-Regular;
    font-size: 15px;
    background-color: black;
    color: white;
    text-align: center;
    display: table;
    border-radius: 10px 10px 0 0;
    border: 1px solid white;
}
#slider_button_button_button{
    display: table-cell;
    vertical-align: middle;
}
#slider_content{
    height: 100%;
    background-color: white;

}
.black{
    background-color: black;
}